body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.wrapper {
    display: flex;
    height: 100vh;
}

.main-content {
    margin-left: 250px;
    width: 100%;
    padding: 20px;
}

.card {
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn {
    border-radius: 8px;
    font-weight: bold;
}
